$employees: (
  '-MrW',
  '3van',
  'AaronAtEpic',
  'AaronMFJ',
  'AryssSkaHara',
  'Cindewittchen',
  'DJDerrickG',
  'DanDaDaDanDan',
  'DavetheBuck',
  'EPIC-Looney',
  'EPIC-MrPopoTFS',
  'EPIC_Clintonious',
  'EPIC_Luke',
  'EPIC_Pente',
  'EPIC_Tokaj',
  'EmptyTux',
  'EpicBoaty',
  'EpicChenin',
  'EpicDustyDevo',
  'EpicEricSW',
  'EpicErica',
  'EpicGoinHamm',
  'EpicIrascible',
  'EpicLoomin',
  'EpicMattS',
  'EpicRook',
  'EpicSuzDay',
  'EpicTense',
  'Epic_Boomer',
  'Epic_Jason',
  'Epicbanks',
  'EricSw',
  'FreightTrainUSA',
  'GILLIES-',
  'InnerChildNDC',
  'JShredz',
  'JustMooney1',
  'KLAUSFIST',
  'Kimmundi',
  'Ks_m',
  'LilLadyMuerte',
  'M_House_Epic',
  'MagmaReef',
  'Magyst',
  'Matti91Tilde',
  'MichaelMcRooney',
  'MichaelNoland',
  'Miz_Calamity',
  'ModernRyoga',
  'MrPopoTFS',
  'MythicBasil',
  'NeuronBasher',
  'NickDarnell',
  'NickDonaldson',
  'PoppinFreshDoze',
  'RZELive',
  'RebelAndroid',
  'Riot001',
  'SkribblrPrsn',
  'SkyzYn',
  'Slevin_009',
  'SungGries',
  'TeamHomebase',
  'TheFortniteTeam',
  'TheStevieT',
  'ZooKeeperZak',
  'arj4n',
  'avgulotta',
  'bri_jaeger',
  'dark-kensou',
  'darkveil',
  'gortag',
  'gstaffEpic',
  'iFlak',
  'kulvard',
  'maurymountain',
  'spazinski',
  'stevieT',
  'sweedinmusic',
  'zakbeaudio'
);

@each $employee in $employees {
  a.author[href$="/#{$employee}"] {
    background-color: #333 !important;
    margin-right: 0.5em;
    margin-top: -1px;
    padding: 2px 5px;
    border-left: solid 1px grey;
    color: #fff !important;
    text-decoration: none;
    margin-left: 0.25em;
  }
}
