/* FEATURED IMAGE SLIDER */

@import "../utilities/variables";

// Change how many featured images are used
$count: 3;

@for $i from 1 through $count {
  @keyframes slide-#{$i} {
    @for $j from 0 through $count * 2 {
      $p: 28 * ceil($j / 2) + (5 + 1 / 3) * floor($j / 2) * 1%;
      $val: floor($j / 2) + 1 - $i;
      $on: $val == 0 or $val == 3;

      #{$p} {
        opacity: if($on, 1, 0);
        z-index: if($on, 1337, -1);
      }
    }
  }
}

/* loading bar */

@keyframes bar {
  0% {
    opacity: 1;
    width: 0;
  }

  84% {
    opacity: 1;
    width: 480px;
  }

  100% {
    opacity: 0;
    width: 480px;
  }
}

.side {
  blockquote {
    /* Z-INDEX FIX FOR FEATURED AND NAVIGATION ICONS */
    &:last-of-type {
      a {
        z-index: 1337;
      }
    }

    ul:hover:after,
    blockquote:hover li a {
      animation-play-state: paused !important;
    }

    ul {
      display: inline-block;

      position: absolute;
      top: $header-height * 0.13;
      right: 40px;
      width: 165px;

      padding: 0;
      margin: 0;

      list-style-type: none;
      list-style-position: inside;

      &:after {
        content: " ";
        z-index: 2000;
        display: block;

        position: relative;
        top: 199px;
        bottom: 0;
        left: 0;

        width: 0;
        height: 2px;

        margin-left: -356px;

        background: #dbbd68;

        animation: bar 10s linear infinite;
      }

      li {
        @for $i from 1 through $count {
          &:nth-child(#{$i}) a {
            &:hover {
              border-color: $primary;
            }

            display: inline-block;

            position: absolute;
            right: 40px;
            top: 35px;

            width: 480px;
            height: 165px;

            padding: 0;
            margin: 0;

            background-size: contain;
            background: url("/assets/featured#{$i}.png") no-repeat center;
            animation: slide-#{$i} 30s infinite;

            border: 1px solid rgba(255, 255, 255, 0.2);
            transition-duration: 0s;
            transition: border 0.31s cubic-bezier(0, 0.74, 0.58, 1);
          }
        }
      }
    }
  }
}
