/* NAVIGATION BAR ICONS */
$icons: (
  'discord': 'Join us on Discord for community discussion!',
  'calendar': 'View the community calendar for upcoming events!',
  'faq': 'Frequently asked questions by the community.'
);

#header .tabmenu {
  padding-left: 215px;
}

.side blockquote {
  /* Z-INDEX FIX FOR FEATURED AND NAVIGATION ICONS */
  &:last-of-type {
    a {
      z-index: 1337;
    }
  }

  $keys: map-keys($icons);
  @for $i from 1 through length($keys) {
    p:nth-child(#{$i}) {
      a {
        position: absolute;
        top: $header-height + 16 !important;
        left: 430px + ($i - 1) * 60 !important;
        right: 0 !important;
        width: 32px;
        height: 32px;
        background: url("/assets/#{nth($keys, $i)}.png");
        border: none;

        &:hover {
          text-decoration: none;
        }
      }

      &:before {
        content: map-get($icons, nth($keys, $i));
        background: black;
        background: rgba(0, 0, 0, 0.85);
        color: $primary;
        border: 1px solid $primary;
        text-transform: uppercase;
        position: absolute;
        top: 265px;
        left: 290px + ($i - 1) * 50;
        padding: 10px 20px;
        z-index: 1337;
        border-radius: 3px;
        font-size: 11px;
        opacity: 0;
        transition: top 0.3s, opacity 0.3s;
      }

      &:hover {
        &:before {
          opacity: 1;
          top: 255px;
        }
      }
    }
  }
}
