@import "../utilities/variables";
@import "../utilities/contrast";

/* --- Reddit Enhancement Suite Fixes --- */

$nightmode: body;

/* Nightmode */

body {
  background-color: #25282c;
}

#{$nightmode} {
  .content {
    .thing {
      background-color: $secondary !important;

      &:not(.stickied) {
        .thumbnail.self {
          background-position-y: -200px;
        }
      }
    }
  }

  .side {
    .titlebox {
      background-color: $secondary;

      h1 a {
        color: a11y-color(gray, $secondary, "A");
      }

      form.toggle {
        background-color: transparent;
      }

      .fancy-toggle-button {
        .add,
        .remove {
          background-color: $secondary;
        }
      }
    }

    .md {
      color: a11y-color(gray, $secondary, "A");
    }

    #moderation_tools .content {
      background-color: $secondary;

      .icon-menu a {
        background-color: $secondary;
      }
    }
  }
}
