$verified: (
  'SneakyParagon',
  'Sevrahn'
);

@each $user in $verified {
  a[href$="user/#{$user}"]:not(.moderator) {
    padding-bottom: 6.5px !important;

    &:before {
      content: url(/assets/verified.png);
      position: relative;
      right: -4px;
      bottom: -4px;
      margin-right: 8px;
    }
  }
}
