//Fixes for various screen sizes and ratios

@media screen and (min-width: 1920px) {
  #header::before {
    background-size: 100vw !important;
  }

  #header::before {
    image-rendering: crisp-edges;
  }
}