$primary: #dbbd68;
$secondary: #1f1f1f;

$foreground: #555555;
$highlight: $primary;
$stickied: #65b354;

$blue: #4f8ef7;
$red: #ff4500;

$light-grey: #e0e0e0;

$shadow: 0px 0px 2.75px 0.25px rgba(0, 0, 0, 0.2);

$upvote: #ff7700;
$downvote: #4f4dc0;

// Sizes
$header-height: 300px;
$sidebar-width: 300px;
